" ==============================
"     General Configuration
" ==============================

set nocompatible
set scrolloff=10
set showmode
set showcmd
set laststatus=2
set undofile
set undodir=~/.ideavim_undo
set visualbell

" ==============================
"     Display Configuration
" ==============================

set number
set relativenumber
set cursorline
set list
set listchars=tab:▸\ ,eol:¬,space:·,trail:•,extends:>,precedes:<

" ==============================
"     Search Configuration
" ==============================

set ignorecase
set smartcase
set incsearch
set hlsearch

" ==============================
"     Indentation & Tabs
" ==============================

filetype plugin indent on
set autoindent
set smartindent
set expandtab
set tabstop=4
set shiftwidth=4

" ==============================
"     Plugin Specific Settings
" ==============================

set easymotion
set notimeout
let g:qs_highlight_on_keys = ['f', 'F', 't', 'T']
let g:qs_accepted_chars = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z','0','1','2','3','4','5','6','7','8','9']
set quickscope
set highlightedyank
let g:highlightedyank_highlight_duration = "1000"
let g:highlightedyank_highlight_color = "rgba(187, 147, 249, 155)"

" ==============================
"     Which-Key
" ==============================

set which-key
set timeoutlen=500

" Font Configuration
let g:WhichKey_FontFamily = "SF Pro Display, SF Pro Text, -apple-system, system-ui, sans-serif"
let g:WhichKey_FontSize = 14

let g:WhichKey_Divider = " ➜ "

" Key styling (Mauve - prominent and beautiful)
let g:WhichKey_KeyStyle = "bold"
let g:WhichKey_KeyColor = "#cba6f7"

" Prefix styling (Lavender - soft but visible)
let g:WhichKey_PrefixStyle = "bold"
let g:WhichKey_PrefixColor = "#b4befe"

" Command styling (Text - readable and clean)
let g:WhichKey_CommandStyle = "none"
let g:WhichKey_CommandColor = "#cdd6f4"

let g:WhichKeyDesc_leader = "<leader>"

" File & Buffer Management
let g:WhichKeyDesc_leader_x = "<leader>x +close"
let g:WhichKeyDesc_leader_x_x = "<leader>xx close-current-buffer"
let g:WhichKeyDesc_leader_x_a = "<leader>xa close-all-editors"
let g:WhichKeyDesc_leader_x_o = "<leader>xo close-all-but-active"
let g:WhichKeyDesc_leader_x_p = "<leader>xp close-unpinned-editors"

let g:WhichKeyDesc_leader_f = "<leader>f +file"
let g:WhichKeyDesc_leader_f_f = "<leader>ff goto-file"
let g:WhichKeyDesc_leader_f_r = "<leader>fr recent-files"
let g:WhichKeyDesc_leader_f_p = "<leader>fp find-in-path"
let g:WhichKeyDesc_leader_f_c = "<leader>fc reformat-code"

let g:WhichKeyDesc_leader_r = "<leader>r +recent/refactor"
let g:WhichKeyDesc_leader_r_f = "<leader>rf recent-files"
let g:WhichKeyDesc_leader_r_l = "<leader>rl recent-locations"
let g:WhichKeyDesc_leader_r_p = "<leader>rp manage-recent-projects"
let g:WhichKeyDesc_leader_r_n = "<leader>rn rename-element"
let g:WhichKeyDesc_leader_r_e = "<leader>re refactorings-menu"

let g:WhichKeyDesc_leader_o = "<leader>o +open/optimize"
let g:WhichKeyDesc_leader_o_f = "<leader>of open-file"
let g:WhichKeyDesc_leader_o_i = "<leader>oi optimize-imports"
let g:WhichKeyDesc_leader_o_m = "<leader>om override-methods"

let g:WhichKeyDesc_leader_p = "<leader>p pin-active-tab"

" Window & Tab Management
let g:WhichKeyDesc_leader_w = "<leader>w +window"
let g:WhichKeyDesc_leader_w_w = "<leader>ww hide-all-windows"
let g:WhichKeyDesc_leader_w_k = "<leader>wk stretch-split-top"
let g:WhichKeyDesc_leader_w_j = "<leader>wj stretch-split-bottom"
let g:WhichKeyDesc_leader_w_h = "<leader>wh stretch-split-left"
let g:WhichKeyDesc_leader_w_l = "<leader>wl stretch-split-right"
let g:WhichKeyDesc_leader_w_m = "<leader>wm maximize-editor"
let g:WhichKeyDesc_leader_w_u = "<leader>wu unsplit-all"

let g:WhichKeyDesc_leader_s = "<leader>s +split/show/search"
let g:WhichKeyDesc_leader_s_h = "<leader>sh split-horizontally"
let g:WhichKeyDesc_leader_s_v = "<leader>sv split-vertically"
let g:WhichKeyDesc_leader_s_e = "<leader>se show-error-description"
let g:WhichKeyDesc_leader_s_o = "<leader>so select-all-occurrences"
let g:WhichKeyDesc_leader_s_d = "<leader>sd safe-delete"
let g:WhichKeyDesc_leader_s_f = "<leader>sf show-file-path"
let g:WhichKeyDesc_leader_s_i = "<leader>si select-in"
let g:WhichKeyDesc_leader_s_w = "<leader>sw search-web"

" Code Editing & Refactoring
let g:WhichKeyDesc_leader_c = "<leader>c comment-line"
let g:WhichKeyDesc_leader_C = "<leader>C comment-block"

let g:WhichKeyDesc_leader_q = "<leader>q +quick"
let g:WhichKeyDesc_leader_q_f = "<leader>qf quick-fix"

let g:WhichKeyDesc_leader_g = "<leader>g +generate/goto"
let g:WhichKeyDesc_leader_g_c = "<leader>gc generate-code"
let g:WhichKeyDesc_leader_g_t = "<leader>gt goto-test"

let g:WhichKeyDesc_leader_i = "<leader>i +implement/inspect"
let g:WhichKeyDesc_leader_i_m = "<leader>im implement-methods"
let g:WhichKeyDesc_leader_i_c = "<leader>ic inspect-code"

let g:WhichKeyDesc_leader_u = "<leader>u +unwrap"
let g:WhichKeyDesc_leader_u_w = "<leader>uw unwrap"

" Error Navigation
let g:WhichKeyDesc_leader_e = "<leader>e +error/editor"
let g:WhichKeyDesc_leader_e_n = "<leader>en next-error"
let g:WhichKeyDesc_leader_e_p = "<leader>ep previous-error"

" System Clipboard
let g:WhichKeyDesc_leader_y = "<leader>y +yank-to-clipboard"
let g:WhichKeyDesc_leader_Y = "<leader>Y yank-line-to-clipboard"
let g:WhichKeyDesc_leader_p_clipboard = "<leader>p paste-from-clipboard"
let g:WhichKeyDesc_leader_P = "<leader>P paste-before-from-clipboard"

" Debugging
let g:WhichKeyDesc_leader_d = "<leader>d +debug"
let g:WhichKeyDesc_leader_d_x = "<leader>dx debug"
let g:WhichKeyDesc_leader_d_c = "<leader>dc context-debug"
let g:WhichKeyDesc_leader_d_b = "<leader>db toggle-breakpoint"
let g:WhichKeyDesc_leader_d_e = "<leader>de edit-breakpoint"
let g:WhichKeyDesc_leader_d_v = "<leader>dv view-breakpoints"

" Building
let g:WhichKeyDesc_leader_b = "<leader>b +build"
let g:WhichKeyDesc_leader_b_b = "<leader>bb build-menu"

" Hierarchy Views
let g:WhichKeyDesc_leader_h = "<leader>h +hierarchy"
let g:WhichKeyDesc_leader_h_c = "<leader>hc call-hierarchy"
let g:WhichKeyDesc_leader_h_m = "<leader>hm method-hierarchy"
let g:WhichKeyDesc_leader_h_t = "<leader>ht type-hierarchy"

" Zen Mode
let g:WhichKeyDesc_leader_z = "<leader>z zen-mode"

" Actions
let g:WhichKeyDesc_leader_a = "<leader>a goto-action"

" Menus
let g:WhichKeyDesc_leader_m = "<leader>m +menu"
let g:WhichKeyDesc_leader_m_m = "<leader>mm main-menu"
let g:WhichKeyDesc_leader_m_a = "<leader>ma analyze-menu"
let g:WhichKeyDesc_leader_m_b = "<leader>mb build-menu"
let g:WhichKeyDesc_leader_m_c = "<leader>mc code-menu"
let g:WhichKeyDesc_leader_m_f = "<leader>mf find-menu"
let g:WhichKeyDesc_leader_m_g = "<leader>mg goto-menu"
let g:WhichKeyDesc_leader_m_s = "<leader>ms scope-view-menu"
let g:WhichKeyDesc_leader_m_t = "<leader>mt editor-tab-menu"
let g:WhichKeyDesc_leader_m_w = "<leader>mw tool-windows-menu"

" Terminal & Tasks
let g:WhichKeyDesc_leader_t = "<leader>t +terminal/todo/tasks"
let g:WhichKeyDesc_leader_t_t = "<leader>tt activate-terminal"
let g:WhichKeyDesc_leader_t_c = "<leader>tc open-terminal-here"
let g:WhichKeyDesc_leader_t_o = "<leader>to activate-todo"
let g:WhichKeyDesc_leader_t_s = "<leader>ts goto-tasks"

" VCS/Git
let g:WhichKeyDesc_leader_v = "<leader>v vcs-operations"

" Numbers for tabs
let g:WhichKeyDesc_leader_1 = "<leader>1 goto-tab-1"
let g:WhichKeyDesc_leader_2 = "<leader>2 goto-tab-2"
let g:WhichKeyDesc_leader_3 = "<leader>3 goto-tab-3"
let g:WhichKeyDesc_leader_4 = "<leader>4 goto-tab-4"
let g:WhichKeyDesc_leader_5 = "<leader>5 goto-tab-5"
let g:WhichKeyDesc_leader_6 = "<leader>6 goto-tab-6"
let g:WhichKeyDesc_leader_7 = "<leader>7 goto-tab-7"
let g:WhichKeyDesc_leader_8 = "<leader>8 goto-tab-8"
let g:WhichKeyDesc_leader_9 = "<leader>9 goto-tab-9"

" Harpoon
let g:WhichKeyDesc_leader_E = "<leader>E show-harpoon"

" Other actions
let g:WhichKeyDesc_leader_y_p = "<leader>yp copy-absolute-path"

" ==============================
"     Key Mappings
" ==============================

map <space> <nop>
let mapleader="\<space>"

imap jk <Esc>

noremap <Down> <NOP>
noremap <Left> <NOP>
noremap <Right> <NOP>
noremap <Up> <NOP>

xnoremap p P

noremap <leader>y "*y
noremap <leader>Y "*Y
noremap <leader>p "*p
noremap <leader>P "*P

" ==============================
"     Navigation & Jumping
" ==============================

nmap <C-i> <Action>(Back)
nmap <C-o> <Action>(Forward)

nnoremap [[ <Action>(MethodUp)
nnoremap ]] <Action>(MethodDown)

nnoremap gn :action ReSharperGotoNextErrorInSolution
map <leader>en <Action>(ReSharperGotoNextErrorInSolution)
map <leader>ep <Action>(ReSharperGotoPrevErrorInSolution)

" ==============================
"     File & Buffer Management
" ==============================

nmap <leader>xx <Action>(CloseContent)
nmap <leader>xa <Action>(CloseAllEditors)
nmap <leader>xo <Action>(CloseAllEditorsButActive)
nmap <leader>xp <Action>(CloseAllUnpinnedEditors)

nmap <leader>p <Action>(PinActiveEditorTab)

map <leader>e :NERDTreeToggle<CR>

map <leader>ff <action>(GotoFile)
map <leader>fr <action>(RecentFiles)
map <leader>rf <Action>(RecentFiles)

nmap <leader>of <Action>(OpenFile)
nmap <leader>yp <Action>(CopyAbsolutePath)
nmap <leader>rl <Action>(RecentLocations)
nmap <leader>rp <Action>(ManageRecentProjects)
nmap <leader>sh <Action>(LocalHistory.ShowHistory)
nmap <leader>sf <Action>(ShowFilePath)
nmap <leader>si <Action>(SelectIn)
nmap <leader>fp <Action>(FindInPath)
nmap <leader>rp <Action>(ReplaceInPath)
nmap <leader>sw <Action>($SearchWeb)

" ==============================
"     Window & Tab Management
" ==============================

nmap <C-Tab> <Action>(PreviousTab)
nmap <Tab> <Action>(NextTab)

nmap <leader>1 <Action>(GoToTab1)
nmap <leader>2 <Action>(GoToTab2)
nmap <leader>3 <Action>(GoToTab3)
nmap <leader>4 <Action>(GoToTab4)
nmap <leader>5 <Action>(GoToTab5)
nmap <leader>6 <Action>(GoToTab6)
nmap <leader>7 <Action>(GoToTab7)
nmap <leader>8 <Action>(GoToTab8)
nmap <leader>9 <Action>(GoToTab9)

map <leader>sh <Action>(SplitHorizontally)
map <leader>sv <Action>(SplitVertically)

nmap <C-k> <C-w>k
nmap <C-j> <C-w>j
nmap <C-h> <C-w>h
nmap <C-l> <C-w>l

nmap <leader>ww <Action>(HideAllWindows)
nmap <leader>wk <Action>(StretchSplitToTop)
nmap <leader>wj <Action>(StretchSplitToBottom)
nmap <leader>wh <Action>(StretchSplitToLeft)
nmap <leader>wl <Action>(StretchSplitToRight)
nmap <leader>wm <Action>(MaximizeEditorInSplit)
nmap <leader>wu <Action>(UnsplitAll)

" ==============================
"     Code Editing & Refactoring
" ==============================

map <leader>c <Action>(CommentByLineComment)
map <leader>C <Action>(CommentByBlockComment)
nmap <leader>qf <Action>(ShowIntentionActions)
nmap <leader>se <Action>(ShowErrorDescription)
nmap <leader>om <Action>(OverrideMethods)
nmap <leader>im <Action>(ImplementMethods)
nmap <leader>fc <Action>(ReformatCode)
nmap <leader>ic <Action>(InspectCode)
nmap <leader>so <Action>(SelectAllOccurrences)
nmap <leader>gc <Action>(Generate)
nmap <leader>gt <Action>(GotoTest)

nmap <leader>rn <Action>(RenameElement)
nmap <leader>re <Action>(Refactorings.QuickListPopupAction)
nmap <leader>uw <Action>(Unwrap)
nmap <leader>sw <Action>(SurroundWith)
nmap <leader>sd <Action>(SafeDelete)
nmap <leader>oi <Action>(OptimizeImports)

nmap \\jl <Action>(EditorJoinLines)

" ==============================
"     Harpoon (Quick Navigation)
" ==============================

map <leader>e <Action>(RecentFiles)
map <leader>E <Action>(ShowHarpoon)

map <leader><C-j> <Action>(SetHarpoon1)
map <C-j> <Action>(GotoHarpoon1)
map <C-S-j> <C-w><C-w><Action>(GotoHarpoon1)

map <leader><C-k> <Action>(SetHarpoon2)
map <C-k> <Action>(GotoHarpoon2)
map <C-S-k> <C-w><C-w><Action>(GotoHarpoon2)

map <leader><C-l> <Action>(SetHarpoon3)
map <C-l> <Action>(GotoHarpoon3)
map <C-S-l> <C-w><C-w><Action>(GotoHarpoon3)

map <leader><C-h> <Action>(SetHarpoon4)
map <C-h> <Action>(GotoHarpoon4)
map <C-S-h> <C-w><C-w><Action>(GotoHarpoon4)

" ==============================
"     Context Menus & Tool Windows
" ==============================

nmap <leader>mm <Action>(MainMenu)
nmap <leader>ma <Action>(AnalyzeMenu)
nmap <leader>mb <Action>(BuildMenu)
nmap <leader>mc <Action>(CodeMenu)
nmap <leader>mf <Action>(FindMenuGroup)
nmap <leader>mg <Action>(GoToMenu)
nmap <leader>ms <Action>(ScopeViewPopupMenu)
nmap <leader>mt <Action>(EditorTabPopupMenu)
nmap <leader>mw <Action>(ToolWindowsGroup)

" ==============================
"     Debugging
" ==============================

nmap <leader>dx <Action>(Debug)
nmap <leader>dc <Action>(ContextDebug)
nmap <leader>db <Action>(ToggleLineBreakpoint)
nmap <leader>de <Action>(EditBreakpoint)
nmap <leader>dv <Action>(ViewBreakpoints)

" ==============================
"     Building
" ==============================

nmap <leader>bb <Action>(BuildMenu)

" ==============================
"     Hierarchy Views
" ==============================

nmap <leader>hc <Action>(CallHierarchy)
nmap <leader>hm <Action>(MethodHierarchy)
nmap <leader>ht <Action>(TypeHierarchy)

" ==============================
"     Folding & Zen Mode
" ==============================

nmap zz <Action>(ExpandCollapseToggleAction)
nmap za <Action>(CollapseAllRegions)
nmap zA <Action>(ExpandAllRegions)

nmap <leader>z <Action>(ToggleZenMode)

" ==============================
"     GoTo Actions
" ==============================

nmap <leader>a <Action>(GotoAction)
nmap ga <Action>(GotoAction)
nmap gc <Action>(GotoClass)
nmap gf <Action>(GotoFile)
nmap gs <Action>(GotoSymbol)
nmap gt <Action>(GotoTest)
nmap gT <Action>(TextSearchAction)
nmap go <Action>(GotoSuperMethod)
nmap gd <Action>(GotoDeclaration)
nmap gD <Action>(GotoTypeDeclaration)
nmap gi <Action>(GotoImplementation)
nmap gI <Action>(QuickImplementations)

" ==============================
"     Terminal
" ==============================

nmap <leader>tt <Action>(ActivateTerminalToolWindow)
nmap <leader>tc <Action>(Terminal.OpenInTerminal)

" ==============================
"     Bookmarks & Todos & Tasks
" ==============================

nmap mm <Action>(ToggleBookmark)
nmap ms <Action>(ShowBookmarks)

nmap <leader>to <Action>(ActivateTODOToolWindow)

nmap <leader>ts <Action>(tasks.goto)

" ==============================
"     Git/VCS
" ==============================

nmap <leader>v <Action>(VcsGroups)

" ==============================
"     Other
" ==============================

nmap \\cg <Action>(Github.Create.Gist)

nmap \\v <Action>(VimActions)

command! -nargs=* Replace call Replace(<f-args>)

nmap <C-a> ggVG"+y

" ==============================
"     Plugins (Declaration)
" ==============================

Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
Plug 'machakann/vim-highlightedyank'